.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--dark-text);
	font-size: 0.9rem;

	span {
		display: inline-block;
		padding-bottom: 0.5rem;
	}

	@media (max-width: 426px) {
		flex-direction: column-reverse;
		align-items: start;
		font-size: 0.8rem;
	}
}

.info_wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
