.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: var(--dark-text);

    span {
        display: inline-block;
        padding-bottom: 0.5rem;
    }

    @media(max-width: 426px) {
        font-size: 0.8rem;
        flex-direction: column-reverse;
        align-items: start;
    }
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}