.btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0.3rem 1.4rem;
    font-family: var(--main-font);
    font-weight: 500;
    text-align: center;
    border-radius: 0.3rem;
    color: var(--bright-text);
    transition: all 300ms;

    &:disabled {
        pointer-events: none;
        color: #3d3d3d;
        background-color: #b4b4b4;
        opacity: 0.7;
    }
}

.primary {
    background-color: var( --accent-first);

    &:hover,&:focus {
        box-shadow: 0 0 0.5em var(--accent-first);
    }
}

.light{
    background-color: var( --accent-second);

    &:hover,&:focus {
        box-shadow: 0 0 0.5em var(--accent-second);
    }
}

.plain {
    color: var( --accent-second-contrast);
    padding: 0;

    &:hover, &:focus{
        text-shadow: 0 0 0.7em var(--accent-second);
        text-decoration: underline;
    }
}

.ghost {
    border: 2px solid gray;

    &:hover,&:focus {
        box-shadow: 0 0 0.5em gray;
        text-shadow: 0 0 0.7em gray;
    }
}

//Preloader:
.loader {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2rem;
    height: 2rem;
    border: 4px solid #ededed;
    border-top: 4px solid #424242; 
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.s {
  font-size: 1rem;

  .loader {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.m{
    font-size: 1.2rem;

    .loader {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.l{
    font-size: 1.5rem;

    .loader {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.xl {
    font-size: 1.8rem;

    .loader {
    width: 2rem;
    height: 2rem;
  }
}

.hidden {
    opacity: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}