@import "../../../styles/mixins";

.form {
	@include content-block;

	margin: 0 auto;
}

.form__fields {
	display: grid;
	gap: 15px;
}

.form__name {
	color: var(--main-text);
	font-size: 1.2rem;
	font-weight: 400;
}

.form__title {
	@include form-field;

	width: 80%;
}

.form__text {
	min-height: 35rem;
}

.form__body {
	@include form-field;

	width: 100%;
}

.form__submit {
	display: block;
	margin-left: auto;
}
