.myposts {
	grid-column: 2 / 3;

	@media (max-width: 630px) {
		grid-column: 1 / 2;
	}
}

.label {
	color: var(--accent-second-contrast);
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
}

.check {
	display: inline-block;
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 0.5rem;
	border: 2px solid var(--accent-second);
	border-radius: 0.2rem;
	background-color: rgba($color: #FFF, $alpha: 20%);
}

input[type="checkbox"]:checked + .check::after {
	display: inline-block;
	transform: translate(-5%, -25%);
	color: var(--accent-first);
}

input[type="checkbox"]:focus + .check {
	box-shadow: 0 0 2px 2px var(--accent-second);
}

.hidden {
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}
