@mixin form-field {
	padding: 0.5rem;
	border: 2px solid var(--dark-text);
	border-radius: 0.3rem;
	background-color: var(--content-bg-light);
	color: var(--bright-text);
	font-size: 1rem;

	&::placeholder {
		color: var(--dark-text);
	}

	&:focus {
		border: 2px solid var(--bright-text);
	}
}

@mixin content-block {
	padding: 2em;
	border-radius: 0.3em;
	background-color: var(--content-bg);
	box-shadow: var(--content-shadow);
	color: var(--main-text);

	p {
		padding-bottom: 0.5rem;
	}

	code {
		color: var(--accent-second-contrast);
		font-family: "Courier New", Courier, monospace;
	}

	@media (max-width: 750px) {
		padding: 1em;
	}
}
