:root {
    --bg: #263647;
    --content-bg: #303f50;
    --content-bg-light: #405162;
    --content-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12), inset 4px 2px 8px rgba(255, 255, 255, 0.1);
    --accent-first: #FDA700;
    --accent-second: #32bacf;
    --accent-second-contrast: #91ecf3;
    --bright-text: #fff;
    --dark-text: #ABBDCF;
    --main-text: #e8eff5;
    --warning: #ff6c6c;
    --success: #357a5b;
    --main-font: 'Roboto', sans-serif;
}

body[data-theme='dark'] {
    --bg: #263647;
    --content-bg: #303f50;
    --content-bg-light: #405162;
    --content-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12), inset 4px 2px 8px rgba(255, 255, 255, 0.1);
    --accent-first: #f09400;
    --accent-second: #1eb4cb;
    --accent-second-contrast: #91ecf3;
    --bright-text: #fff;
    --dark-text: #ABBDCF;
    --main-text: #e8eff5;
    --warning: #ff6c6c;
    --success: #1c6846;
}

body[data-theme='light'] {
    --bg: #f5f4f3;
    --content-bg: #fff;
    --content-bg-light: #fefefe;
    --content-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05),-4px -4px 12px rgba(0, 0, 0, 0.05), inset 4px 2px 8px rgba(255, 255, 255, 0.4);
    --accent-first: #fbb112;
    --accent-second: #b5bff8;
    --accent-second-contrast: #4957be;
    --bright-text: #1B1B1B;
    --dark-text: #87889F;
    --main-text: #363640;
    --warning: #c50000;
    --success: #d3ede4;
}
