:root {
	--bg: #263647;
	--content-bg: #303F50;
	--content-bg-light: #405162;
	--content-shadow:
		2px 2px 10px rgb(0 0 0 / 12%),
		inset 4px 2px 8px rgb(255 255 255 / 10%);
	--accent-first: #FDA700;
	--accent-second: #32BACF;
	--accent-second-contrast: #91ECF3;
	--bright-text: #FFF;
	--dark-text: #ABBDCF;
	--main-text: #E8EFF5;
	--warning: #FF6C6C;
	--success: #357A5B;
	--main-font: "Roboto", sans-serif;
}

body[data-theme="dark"] {
	--bg: #263647;
	--content-bg: #303F50;
	--content-bg-light: #405162;
	--content-shadow:
		2px 2px 10px rgb(0 0 0 / 12%),
		inset 4px 2px 8px rgb(255 255 255 / 10%);
	--accent-first: #F09400;
	--accent-second: #1EB4CB;
	--accent-second-contrast: #91ECF3;
	--bright-text: #FFF;
	--dark-text: #ABBDCF;
	--main-text: #E8EFF5;
	--warning: #FF6C6C;
	--success: #1C6846;
}

body[data-theme="light"] {
	--bg: #F5F4F3;
	--content-bg: #FFF;
	--content-bg-light: #FEFEFE;
	--content-shadow:
		4px 4px 12px rgb(0 0 0 / 5%),
		-4px -4px 12px rgb(0 0 0 / 5%),
		inset 4px 2px 8px rgb(255 255 255 / 40%);
	--accent-first: #FBB112;
	--accent-second: #B5BFF8;
	--accent-second-contrast: #4957BE;
	--bright-text: #1B1B1B;
	--dark-text: #87889F;
	--main-text: #363640;
	--warning: #C50000;
	--success: #D3EDE4;
}
