@import "../../styles/mixins";

.modal {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background-color: rgba($color: #000, $alpha: 50%);
}

.modal__content {
	@include content-block;

	margin: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.modal__body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	font-size: 1.2rem;
}

.modal__footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
