@import "../../styles/mixins";

.login {
	@include content-block;

	max-width: 450px;
	margin: 0 auto;
}

.options {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 2.5rem;

	.signin,
	.signup {
		background-color: transparent;
		color: var(--dark-text);
		font-weight: 500;
	}

	.signin.active {
		box-shadow: 0 0 0.5em var(--accent-second);
		color: var(--accent-second-contrast);
	}

	.signup.active {
		box-shadow: 0 0 0.5em var(--accent-first);
		color: var(--accent-first);
	}
}
