.filter_panel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;
    align-items: flex-end;
    padding-bottom: 2rem;

    @media(max-width: 630px) {
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 0.5rem;
    }

    @media(max-width: 430px) {
        grid-template-columns: 1fr;
        padding-bottom: 1rem;
    }
}
