.delete_btn {
	margin: 1rem auto 1rem 1rem;
	border-color: var(--warning);
	color: var(--warning);

	&:hover,
	&:focus {
		box-shadow: 0 0 0.5em rgba($color: #FE7171, $alpha: 50%);
		text-shadow: 0 0 0.5em rgba($color: #FE7171, $alpha: 50%);
	}
}
