.theme_switcher {
	display: flex;
	justify-content: flex-end;

	&__light {
		border-radius: 0.3rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&__dark {
		padding-left: 4px;
		border-left: none;
		border-radius: 0.3rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&__light,
	&__dark {
		flex-shrink: 0;
		padding: 0.2em;
		border: 2px solid var(--dark-text);
		cursor: pointer;

		&::after {
			display: inline-block;
			padding: 0.1rem;
			color: var(--dark-text);
			font-size: 1.2rem;
			text-align: center;
			vertical-align: middle;

			@media (max-width: 750px) {
				font-size: 1rem;
			}
		}

		&:hover,
		&:focus {
			background-color: rgba($color: #B3B3B3, $alpha: 30%);
			text-shadow: 0 0 1em var(--accent-first);
		}
	}

	.active::after {
		color: var(--accent-first);
		text-shadow: 0 0 0.8em var(--accent-first);
	}
}

.hidden {
	display: inline-block;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	opacity: 0;
	visibility: hidden;
}