.notfound {
	min-height: 100vh;
	padding: 2rem;
	color: var(--main-text);
	text-align: center;

	h2 {
		margin-bottom: 1rem;
		font-size: 2.5rem;
	}

	p {
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
}
