@import "../../styles/mixins";

.texteditor {
	@include form-field;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	p[data-placeholder]:first-child::before {
		content: attr(data-placeholder);
		color: var(--dark-text);
		font-size: 1rem;
	}

	ul,
	ol {
		margin-left: 1.5rem;
	}

	code {
		color: var(--accent-second-contrast);
		font-family: "Courier New", Courier, monospace;
	}
}

.texteditor__textfield {
	min-height: 10rem;
	padding: 1rem;
	word-break: break-word;
}

.texteditor__info {
	color: var(--dark-text);
	font-size: 0.9rem;
}

.texteditor__add_img {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.texteditor__img_url {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	input {
		margin-top: 0.5rem;

		@include form-field;
	}
}

.danger {
	color: var(--warning);
}
