@import '../../styles/mixins.scss';

.texteditor {
    @include form-field;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p[data-placeholder]:first-child::before {
        content: attr(data-placeholder);
        font-size: 1rem;
        color: var(--dark-text);
    }

    ul, ol {
        margin-left: 1.5rem;
    }

    code {
        font-family: 'Courier New', Courier, monospace;
        color: var(--accent-second-contrast);
    }
}

.texteditor__textfield {
    padding: 1rem;
    min-height: 10rem;
    word-break: break-word;
}

.texteditor__info {
    font-size: 0.9rem;
    color: var(--dark-text);
}

.texteditor__add_img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.texteditor__img_url {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
        margin-top: 0.5rem;
        @include form-field;
    }
}

.danger {
    color: var(--warning);
}